<!DOCTYPE html>
<html>
<head>

  <title>Hi Rails Girls 54!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1> Rails Girls 54 &#9825;‬</h1>

 <%=image_tag "Group.jpg"%>

<section id="About">
<div>
     <!--data-breakpoints="767,1024,1200,1600" data-src=""-->

         <h2> About </h2>
         <p> Learn sketching, prototyping and basic programming. </p>
         <style>
         #About{
           padding-top: 20px;
           background:blue;
           text-align:left;
           line-height: 1000px;
           min-height:500px;
         }
         </style>
</div>
</section>



<h2> Where </h2>

<h2> Program </h2>

<!--animazione-->

<h2> Team </h2>

</body>
</html>
